[submodule "front-end"]
	path = front-end
	url = https://github.com/eduardopinheiro20/front-end.git
[submodule "mkt-node"]
	path = mkt-node
	url = https://github.com/eduardopinheiro20/mkt-node.git
[submodule "financeiro-php"]
	path = financeiro-php
	url = https://github.com/eduardopinheiro20/financeiro-php.git
[submodule "academico-php"]
	path = academico-php
	url = https://github.com/eduardopinheiro20/academico-php.git
[submodule "academico-php-web"]
	path = academico-php-web
	url = https://github.com/eduardopinheiro20/academico-php-web.git
